<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<hello name="{{ name }}"></hello>

		</div>
		<div class="col-12">
			<app-sizer [(size)]="tamanoFuente"></app-sizer>

		</div>
		<div class="col">

			<!-- Double binding, la propiedad size del sizer valdrá lo que la propiedad tamanoFuente de app.component,
      y cuando se produzca un cambio en esa propiedad dentro del sizer, también cambiará tamanoFuente.
      Si se produce un cambio en tamanoFuente también cambiará size, que a su vez etc. etc..
      No sé muy bien cómo controla que no produzcan bucles
      -->
			<app-sizer [(size)]="tamanoFuente"></app-sizer>
			<div [style.font-size.px]="tamanoFuente">Este texto tiene font-size que depende del valor de tamanoFuente
				({{tamanoFuente}}) </div>

			<!-- Cuando el app-boton produzca el evento valorRandomEventEmitter, se llamará
      al callback cambiarValorLeido con el valor emitido. La callback guarda ese valor
      en su propiedad valorLeido-->

			<app-boton (valorRandomEventEmitter)="cambiarValorLeido($event)"></app-boton>

			<p>valor emitido por app-boton {{valorLeido}}</p>
		</div>

		<div class="col">
			<app-mi-componente-chachi></app-mi-componente-chachi>
			<app-mi-componente-chachi [renderizarSubcomponente]='true'></app-mi-componente-chachi>
			<app-otro-componente></app-otro-componente>
      <app-otro-componente></app-otro-componente>

		</div>

	</div><!-- row -->

</div><!-- container -->